<div class="jumbotron">
  <div class="text-center">
    <p><%= pluralize(@votes.count, "votant") %> (taux de participation ... %)</p>
  </div>
  <div class="gender">
    <p class="male">
      <i class="fa fa-male"></i>
      <%= pluralize(@male_votes.count, "vote") %> (<%= @male_percentage.round(2) %>% des votants)
    </p>
    <p class="female">
      <i class="fa fa-female"></i>
      <%= pluralize(@female_votes.count, "vote") %> (<%= @female_percentage.round(2) %>% des votants)
    </p>
  </div>
  <div class="jumbotron">
    <ul>
      <li>
        <%= pluralize(@white_votes, "vote") %> Blanc
      </li>
      <li>
        <%= pluralize(@LR_votes.count, "vote") %> "Les Républicains"
      </li>
      <li>
        <%= pluralize(@FN_votes.count, "vote") %> "Front National"
      </li>
      <li>
        <%= pluralize(@PS_votes.count, "vote") %> "Parti Socialiste"
      </li>
    </ul>
  </div>
  <%= link_to "home", root_path %>
</div>
